<html>
    <head>
        <title>Application: @ViewBag.Title </title>
    </head>
    <body>
        <header>
            <a href="/">Index</a>
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer>
            Some Footer text
        </footer>
        <link rel="stylesheet" href="/css/style.css" />
    </body>
</html>